.cm-input-label  {
    color: #cccccc;
}
.cm-required-field:after {
    content:" *";
    color: red;
    font-weight: 800;
}

.ltr {
    direction: ltr !important;
}

.rtl {
    direction: rtl !important;
}
